{% extends 'form/show_form.html.twig' %}

{% block title %}Edit Panoplie{% endblock %}

{% block body %}
    <h1>Edit Panoplie</h1>

    {{ include('panoplie/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('panoplie_index') }}">back to list</a>

    {{ include('panoplie/_delete_form.html.twig') }}
{% endblock %}