{% extends 'base_back.html.twig' %}

{% block title %}Edit Sort{% endblock %}

{% block body %}
    <h1>Edit Sort</h1>

    {{ include('sort/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sort_index') }}">back to list</a>

    {{ include('sort/_delete_form.html.twig') }}
{% endblock %}