{% extends "base_back.html.twig" %}

{% block title %}{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
{% endblock %}

{% block fab %}
    <ul class="list-unstyled fixed-action-ul left-fab btn-left-tab">
        <li class="col-xs-3 btn-left-tab">    
            <a class="btn-floating link-floating btn-left-tab" id="fab-delete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
                <i class="fa fa-trash-alt btn-left-tab" title="Supprimer" ></i>
            </a>
        </li>
        <li class="col-xs-3 btn-left-tab">    
            <a class="btn-floating link-floating btn-left-tab" id="fab-show">
                <i class="fa fa-eye btn-left-tab" title="Voir" ></i>
            </a>
        </li>
        <li class="col-xs-3 btn-left-tab" id='li-cancel'>    
            <a class="btn-floating link-floating btn-left-tab" id="fab-edit">
                <i class="fa fa-edit btn-left-tab" title="Modifier" ></i>
            </a>
        </li>
        <li class="col-xs-3 btn-left-tab">    
            <a class="btn-floating link-floating btn-left-tab" id="fab-new">
                <i class="fa fa-plus btn-left-tab" title="Créer" ></i>
            </a>
        </li>
    </ul>
{% endblock %}

{% block javascript_file %}
{% endblock %}

{% block javascript_prepare %}
    <script type="application/javascript">
        var toggle_cruds = function( ul )
        {
            if( $('#fab-delete').is(':visible') ) {
                $('#fab-delete').hide();
                $('#fab-delete').removeAttr('href');

                $('#fab-show').hide();
                $('#fab-show').removeAttr('href');

                $('#fab-edit').hide();
                $('#fab-edit').removeAttr('href');
                
                $(ul).css('left', '-71px');
                $(ul).css('width', '55px');
                return false;
            } else {
                $('#fab-delete').show();
                $('#fab-show').show();
                $('#fab-edit').show();
                $(ul).css('left', '-240px');
                $(ul).css('width', '225px');
                return true;
            }
        }
    </script>
{% endblock %}

{% block javascripts %}
    <script type="application/javascript">
        $(document).ready(function() {
        });
    </script>
    
{% block javascript_child %}
{% endblock %}
{% endblock %}
