{{ form_start(form, { 'attr': {'class': 'form-horizontal','id':'block-validate'} }) }}
    {{ form_widget(form) }}
    <button id="btnActionFloatingMenu">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}