{% extends 'form/show_form.html.twig' %}

{% block title %}New Artefact{% endblock %}

{% block body %}
    <h1>Create new Artefact</h1>

    {{ include('artefact/_form.html.twig') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready(function() {
            $('#fab-save').data('id', 'block-validate');
            $('#fab-cancel').data('id','block-validate');
            $('#fab-cancel').data('url', '{{ path('artefact_index') }}');
        });
    </script>
{% endblock %}