{% extends 'base_back.html.twig' %}

{% block title %}New Artefact{% endblock %}

{% block body %}
    <h1>Create new Artefact</h1>

    {{ include('artefact/_form.html.twig') }}

    <a href="{{ path('artefact_index') }}">back to list</a>
{% endblock %}